* { box-sizing: border-box; }

//body

body { background-color:#f8f8f8; }

//Main

.main {
  width: calc(100% - 260px);
  height: auto;
  position: relative;
  margin: 60px 0 0 260px;
  padding: 25px;
  overflow-x: hidden;
}

//Section 

.section {
  &-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: white;
    border: 1px solid $lightBorder;
    margin: 0 0 25px 0;
    &-title {
      font-size: 26px;
      font-weight: 600;
      color: $secondary;
    }
  }
  &-footer {
    margin: 25px 0;
    text-align: right;
  }
}

//Table radio buttons

.el-radio-group {
  label {
    margin: 5px;
  }
}



//Media 

@media screen and (max-width: 768px) {
  .main {
    padding: 15px;
    margin: 60px 0 0 0;
    width: 100%;
  }
}